<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Pi CPU Temperature</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <meta http-equiv="refresh" content="60">
</head>
<body>
  <h1>Raspberry Pi CPU Temperature</h1>
  <p>Records loaded : {{ temps|length }}</p>
  <canvas id="tempChart" width="900" height="400"></canvas>

  <script>
    const labels = {{ labels|tojson }};
    const temps = {{ temps|tojson }};
    const piIds = {{ pi_ids|tojson }};
    const fanStates = {{ fan_states|tojson }};
    const topProcesses = {{ top_processes|tojson }};

    new Chart(document.getElementById('tempChart'), {
      type: 'line',
      data: {
        labels: labels,
        datasets: [{
          label: 'CPU Temp °C',
          data: temps,
          tension: 0.2,
          pointRadius:3
        }]
      },
        options: {
        responsive: false,
        plugins: {
          tooltip: {
             callbacks: {
                label: function(context) {
                   const index = context.dataIndex;

                   return [
                      `Time: ${labels[index]}`,
                      `Temp: ${temps[index]}°C`,
                      `Pi: ${piIds[index]}`,
                      `Fan: ${fanStates[index]}`,
                      `Process: ${topProcesses[index]}`
                      ];
                    }
                   }
                  }
                 },
                 scales: {
          y: {
            beginAtZero: false
          }
        }
      }
    });
  </script>
</body>
</html>
